name: "Build & Publish"
on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install build
        run: python3 -m pip install build --user

      - name: Build
        run: python3 -m build --sdist

      - name: Upload dist/
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
  publish:
    runs-on: ubuntu-latest
    name: Publish to PyPI
    needs:
      - build
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write # Required for OID publishing
    environment:
      name: pypi
      url: https://pypi.org/p/reven-plugin-etube
    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
